/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

/*paleta de colores 
    #253532
    #354753
    #efeeec
    #F5F5F5
    #1f1b17
*/

    :root{
       --cor-de-fundo: #F5F5F5;
       --cor-de-link: #253532;
    }
    
    html{
        padding: 0;
        margin: 0;
    }

    body {
        box-sizing: border-box;
        background-color:  #354753 ;
        font-family: monospace;
        color: #efeeec;;
        font-size: 20px;
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    ol, ul,li {
        list-style: none;
    }

    a{
        text-decoration: none;
        color: #d4b5b2;
    }

/*Utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/
.tudo{
    width: 100%;
    height: 100%;
}
/*Sección Menu*/

    .menu{
        display: flex;
        height: 50px;
        justify-content: space-between;
        top: 0; 
        margin: 5px 10px 0 10px;
        font-size: medium;
    }

    .menu__header {  
        display: flex;
        align-items: center;
        gap: 5px;
      }

    .menu__header img{
        width: 45px;
        height: 45px;
      }

    .navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__mobile{
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .menu__mobile span{
        height: 8px;
        width: 45px;
       margin-bottom: 6px;
       background-color: white;
       display: block;
    }

    .separador{
        color: #d4b5b2;
        display: none;
    }

    .menu__list{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 3px;
        display: none;
        background-color: #253532;
    }

    @media (min-width: 768px) {
        .menu{
            font-size: large;
        }

        .menu__mobile{
            display: none;
        }
        .menu__list{
            display: flex;
            flex-direction: row;
            gap: 10px;
            background-color: transparent;
        }
        .navegacion{
            justify-content: center;
        }
        .separador{
            color: #d4b5b2;
            display: block;
        }
    }

/*Sección Title*/

    .title__div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 2.5%;
        font-size: medium;
    }


    .title__profile {
        border-radius:50%; 
        width: 20%;
        height: 20%;
      }

    .title__network{
        display: flex;
        justify-content: space-between;
        margin-right: 20%;
    }

    .title__subsection{
        padding-inline: 20px;
    }

    
    @media (min-width: 768px) {
        .title__div{
            font-size: xx-large;
        }
        
        .title__network{
            justify-content: space-around;
            padding-inline-end: 25%;
        }
    }

/*Sección About*/

    .about{
        background-color:  #6f91b4 ;
        text-align: justify;
        left: 0px;
        padding: 5%;
        color: #292f2b;
        font-size: medium;
    }
    @media (min-width: 768px) {
        .about{
            font-size: xx-large;
        }
    }

/*Sección Skills*/

    .skills{
        text-align: center;
        width: 100%;
        height: auto;
    }

    .skills__line{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        justify-items: center;
    }

    .skills__box{
        text-align: left;
        align-content: flex-end;
        background-color: #efeeec;
        color: #292f2b;
        width: 130px;
        height: 120px;
        margin-block-end: 10px;
    }

    .skills__box ul{
        padding-inline-start: 15px;
    }

    @media (min-width: 425px) {
        .skills__line{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

    }
    
    @media (min-width: 768px) {
        .skills__line{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        .skills{
            font-size: xx-large;
        }

        .skills__box{
            width: 180px;
        }
    }


/*Sección Hobbies*/

    .hobbies{
        text-align: center;
        width: 100%;
        height: auto;
    }

    .hobbies__line{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        justify-items: center;

    }

    .hobbies__box{
        text-align: left;
        align-content: flex-end;
        background-color: #efeeec;
        color: #292f2b;
        width: 130px;
        height: 120px;
        margin-block-end: 10px;
    }

    .hobbies__box ul{
        padding-inline-start: 15px;
    }

    @media (min-width: 425px) {
        .hobbies__line{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

    }

    @media (min-width: 768px) {
        .hobbies__line{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-content: center;
        }
        .hobbies{
            font-size: xx-large;
        }

        .hobbies__box{
            width: 180px;
        }
    }
    

/* Experiencia Académica*/

    .academic{
        background-color: #6f91b4;
        color: #292f2b;
        padding: 5%;
        gap: 10px;
    }

    .academic h2{
        text-align: center;
    }

    .academic__courses__box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
    }

    .academic__courses__list{
        padding-inline: 5px;
        text-align: center;
    }

    .academic__courses__list img{
        width: 200px;
        height: 200px;
    }

    @media (min-width: 525px) {
        .academic__courses__box{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

    }

    @media (min-width: 768px) {
        .academic__courses__box{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .academic{
            font-size: xx-large;
        }
    }


/* experiencia*/

    section.experience{
        text-align: center;
        font-size: medium;
    }

    .experience__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px;
    }

    .experiencie__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin: 15px;
    }

    .experience__img{
        width: 50%;
        border-radius: 15px;
    }

    .experience__info{
        width: 80%;
    }

    .experiencia__botao--repo{
        border-radius: 5px;
        font-family: monospace;
        background-color: #d4b5b2;
    }

    .experience__botao--demo{
        border-radius: 5px;
        font-family: monospace;
        background-color: #d4b5b2;
    }

    @media (min-width: 525px) {
        section.experience{
            font-size: large;
        }

    }

    @media (min-width: 768px) {
        section.experience{
            font-size: xx-large;
        }
    }

/*Contacto*/

    .formcontato__img{
        display: none;
    }

    section.formcontato{
        background-color: #6f91b4;
        color: #292f2b;
        font-size: large;
    }

    .formcontato__contacto{
        display: flex;
        padding: 5%;
    }

    .formcontato__title h2{
        padding-block-end: 5px;
    }

    .formcontato__text p{
        margin: 0;
        padding-block-end: 5px;
    }

    .formcontato__form{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;
        padding-top: 10px;
    }

    .formcontato__input{
        height: 45px;
        width: 90%;
    }


    .formcontato__textarea{        
        width: 90%;
    }

    .formcontato__botao{
        background-color: #d4b5b2;
        width: 50%;
        height: 35px;
    }

    @media (min-width: 525px) {

        .formcontato__img{
            display: flex;
            width: 90%;
            height: 90%;
        }

        .formcontato--esquerda{
            align-content: center;
        }

        
        .formcontato__input{
            height: 45px;
            width: 90%;
        }


        .formcontato__textarea{
            width: 90%;
        }

    }

    @media (min-width: 768px) {

        .formcontato__text {
            margin-left: 20px;
            align-items: center;
        }

        .formcontato__img{
            display: flex;
            width: 100%;
            height: 100%;
        }

        .formcontato--esquerda{
            align-content: center;
        }

        
        .formcontato__input{
            height: 45px;
        }


        .formcontato__textarea{
            height: 100px;
            width: 90%;
        }

        .formcontato__contacto{
            font-size: x-large;
            justify-content: space-between;
        }

    }

/*footeer*/

    section.footer{
        text-align: center;
    
    }
